.ukss-product-grid {
  float: none;
  width: 100%;
}
.ukss-product-grid .prod-listing-wrapper .prod-listing-grid {
  grid-template-columns: repeat(5, 20%);
}

.product_block_parent {
  width: 100%;
}

.why-buy-card {
  text-align: center;
  color: #1e1e1e;
}
.why-buy-card img {
  display: block;
  width: 60px;
  margin: 0 auto 10px;
}
.why-buy-card .why-buy-title {
  font-size: 16px;
  font-weight: 700;
}
.why-buy-card .why-buy-para {
  font-size: 14px;
  font-weight: 400;
}

.prod-listing-wrapper .section-heading {
  margin-bottom: 15px;
}
.prod-listing-wrapper .tab-products {
  padding: 0 10px;
  margin: 15px 0;
}
.prod-listing-wrapper .tab-products .tab-products-wrapper {
  background-color: #f5f5f8;
}
.prod-listing-wrapper .tab-products .tab-products-wrapper .tab-option-btn {
  background-color: #fff;
  border: 1px solid #efefef;
}

.ukss-prod-card {
  background-color: #fff;
}

.why-buy-section {
  background-color: #f5f5f8;
  background-image: url("why-bg.png");
  background-size: 700px 700px;
  border-radius: 15px;
  margin-top: 40px;
}
.why-buy-section .why-buy-wrapper {
  padding: 30px 15px;
}
.why-buy-section .why-buy-wrapper .why-buy-heading {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.why-buy-section .why-buy-wrapper .why-buy-list-wrapper .why-buy-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  max-width: 992px;
  margin: 0 auto;
}
.why-buy-section .why-buy-wrapper .why-buy-list-wrapper .why-buy-list li {
  padding: 10px;
}
.why-buy-section .why-buy-wrapper .why__learn-more-btn {
  font-size: 12px;
  font-weight: 500;
  display: block;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  margin: 25px auto 0;
  border-radius: 10px;
  background-color: #163f85;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.why-buy-section .why-buy-wrapper .why__learn-more-btn:hover {
  background-color: hsl(218, 72%, 27%);
  color: #fff;
}

.filters-area {
  margin-bottom: 15px;
}
.filters-area .filters-wrapper {
  padding: 0 10px;
}
.filters-area .filters-wrapper .filter-option-list {
  margin: 0 0 10px;
  padding: 10px 0;
  list-style: none;
  white-space: nowrap;
  overflow: auto;
}
.filters-area .filters-wrapper .filter-option-list li {
  display: inline-block;
  margin-right: 10px;
}
.filters-area .filters-wrapper .filter-option-list li .filter-opt {
  display: block;
  background-color: #efefef;
  color: #000;
  border: 1px solid #929292;
  padding: 10px 35px 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 10px center;
  transition: all 0.3s ease;
  font-family: var(--font-family);
}
.filters-area .filters-wrapper .filter-option-list li .filter-opt:hover {
  background-color: #ededed;
}
.filters-area .filters-wrapper .filter-option-list li .filter-opt.active-filter {
  border-color: #1e1e1e;
  background-color: #1e1e1e;
  color: #fff;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="rotate(180 12 12)" /></svg>');
}
.filters-area .selected-filters-wrapper {
  padding: 0 10px;
}
.filters-area .selected-filters-wrapper .selected-filters-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.filters-area .selected-filters-wrapper .selected-filters-list li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.filters-area .selected-filters-wrapper .selected-filters-list li .selected-filter-item {
  background-color: #e3ecfb;
  color: #163f85;
  border: 1px solid #163f85;
  border-radius: 30px;
  white-space: nowrap;
  padding: 2px 5px 2px 10px;
  display: flex;
  align-items: center;
}
.filters-area .selected-filters-wrapper .selected-filters-list li .selected-filter-item .selected-filter-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.filters-area .selected-filters-wrapper .selected-filters-list li .selected-filter-item .remove-selected-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: #163f85;
  background-color: transparent;
  cursor: pointer;
  margin-left: 2px;
  transition: all 0.3s ease;
}
.filters-area .selected-filters-wrapper .selected-filters-list li .selected-filter-item .remove-selected-filter:hover {
  transform: scale(1.015);
}

.filter-dropdowns-wrapper .filter-dropdown {
  background-color: #fff;
  color: #1e1e1e;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  position: fixed;
  z-index: 9;
  width: 300px;
}
.filter-dropdowns-wrapper .filter-dropdown .filter-dropdown-header {
  border-bottom: 1px solid #ebeef4;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}
.filter-dropdowns-wrapper .filter-dropdown .filter-dropdown-body {
  padding: 10px 0;
}
.filter-dropdowns-wrapper .filter-dropdown .filter-dropdown-body ul li label {
  display: flex;
  padding: 4px 10px;
  cursor: pointer;
}
.filter-dropdowns-wrapper .filter-dropdown .filter-dropdown-body ul li label .opt-label-text {
  flex: 1;
  font-size: 13px;
  font-weight: 400;
}
.filter-dropdowns-wrapper .filter-dropdown .filter-dropdown-body ul li label input[type=checkbox] {
  margin-left: 5px;
  width: 14px;
  height: 14px;
  accent-color: #f80012;
  cursor: pointer;
}
.filter-dropdowns-wrapper .filter-dropdown .filter-dropdown-body ul li label:hover {
  background-color: #efefef;
}
.filter-dropdowns-wrapper .filter-dropdown .filter-dropdown-body .show-more-filter-btn {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #f80012;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
}
.filter-dropdowns-wrapper .filter-dropdown .filter-dropdown-body .show-more-filter-btn:hover {
  background-color: #fff5f6;
}

.filter-mega-dropdown {
  background-color: #fff;
  color: #1e1e1e;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  position: fixed;
  z-index: 9;
  width: 650px;
}
.filter-mega-dropdown .filter-mega-dropdown-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ebeef4;
}
.filter-mega-dropdown .filter-mega-dropdown-header .filter-mega-search input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dbdae9;
  padding: 5px 30px 5px 10px;
  outline: none;
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.0625 15.625C12.6869 15.625 15.625 12.6869 15.625 9.0625C15.625 5.43813 12.6869 2.5 9.0625 2.5C5.43813 2.5 2.5 5.43813 2.5 9.0625C2.5 12.6869 5.43813 15.625 9.0625 15.625Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M13.7031 13.7031L17.5 17.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: 18px;
  background-position: right 6px center;
  background-repeat: no-repeat;
}
.filter-mega-dropdown .filter-mega-dropdown-header .aplhabets-filter {
  flex: 1;
  padding: 0 10px;
}
.filter-mega-dropdown .filter-mega-dropdown-header .aplhabets-filter button {
  border: none;
  background-color: #fff;
  height: 100%;
  color: #909090;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.filter-mega-dropdown .filter-mega-dropdown-header .aplhabets-filter button.active-alphabet, .filter-mega-dropdown .filter-mega-dropdown-header .aplhabets-filter button:hover {
  color: #1e1e1e;
}
.filter-mega-dropdown .filter-mega-dropdown-header .filter-mega-close button {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  background-color: #fff;
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-mega-dropdown .filter-mega-dropdown-body {
  padding: 10px;
  overflow: auto;
}
.filter-mega-dropdown .filter-mega-dropdown-body .filter-mega-option-list {
  height: 302px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.filter-mega-dropdown .filter-mega-dropdown-body .filter-mega-option-list .filter-mega-option-heading {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  width: 250px;
  margin-right: 20px;
}
.filter-mega-dropdown .filter-mega-dropdown-body .filter-mega-option-list .filter-mega-option-item {
  width: 250px;
  margin-right: 20px;
}
.filter-mega-dropdown .filter-mega-dropdown-body .filter-mega-option-list .filter-mega-option-item label {
  display: flex;
  align-items: center;
  padding: 1px 1px 1px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.filter-mega-dropdown .filter-mega-dropdown-body .filter-mega-option-list .filter-mega-option-item label:hover {
  background-color: #efefef;
}
.filter-mega-dropdown .filter-mega-dropdown-body .filter-mega-option-list .filter-mega-option-item label .opt-label-text {
  flex: 1;
  font-size: 13px;
  font-weight: 400;
}
.filter-mega-dropdown .filter-mega-dropdown-body .filter-mega-option-list .filter-mega-option-item label input[type=checkbox] {
  margin-left: 5px;
  width: 14px;
  height: 14px;
  accent-color: #f80012;
  cursor: pointer;
}

.uk-sorting-wrapper {
  justify-content: flex-end;
}
.uk-sorting-wrapper .sorting-filters-section {
  margin-bottom: 0;
}
.uk-sorting-wrapper .sorting-filters-section .sorting-dd-wrapper {
  border: 1px solid #dadada;
  margin-left: 0;
  padding: 0 10px;
  border-radius: 20px;
  padding-left: 35px;
  background-image: url('data:image/svg+xml,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.29634 0.293C4.48386 0.105529 4.73817 0.000213623 5.00334 0.000213623C5.2685 0.000213623 5.52281 0.105529 5.71034 0.293L9.71034 4.293C9.8925 4.4816 9.99329 4.7342 9.99101 4.9964C9.98873 5.2586 9.88356 5.50941 9.69816 5.69482C9.51275 5.88023 9.26193 5.9854 8.99974 5.98767C8.73754 5.98995 8.48494 5.88916 8.29634 5.707L6.00334 3.414V15C6.00334 15.2652 5.89798 15.5196 5.71044 15.7071C5.52291 15.8946 5.26855 16 5.00334 16C4.73812 16 4.48377 15.8946 4.29623 15.7071C4.10869 15.5196 4.00334 15.2652 4.00334 15V3.414L1.71034 5.707C1.52173 5.88916 1.26913 5.98995 1.00694 5.98767C0.744739 5.9854 0.493926 5.88023 0.308518 5.69482C0.12311 5.50941 0.0179412 5.2586 0.0156628 4.9964C0.0133844 4.7342 0.114179 4.4816 0.296337 4.293L4.29634 0.293ZM14.0033 12.586V1C14.0033 0.734784 14.1087 0.48043 14.2962 0.292893C14.4838 0.105357 14.7381 0 15.0033 0C15.2686 0 15.5229 0.105357 15.7104 0.292893C15.898 0.48043 16.0033 0.734784 16.0033 1V12.586L18.2963 10.293C18.4849 10.1108 18.7375 10.01 18.9997 10.0123C19.2619 10.0146 19.5127 10.1198 19.6982 10.3052C19.8836 10.4906 19.9887 10.7414 19.991 11.0036C19.9933 11.2658 19.8925 11.5184 19.7103 11.707L15.7103 15.707C15.5228 15.8945 15.2685 15.9998 15.0033 15.9998C14.7382 15.9998 14.4839 15.8945 14.2963 15.707L10.2963 11.707C10.1142 11.5184 10.0134 11.2658 10.0157 11.0036C10.0179 10.7414 10.1231 10.4906 10.3085 10.3052C10.4939 10.1198 10.7447 10.0146 11.0069 10.0123C11.2691 10.01 11.5217 10.1108 11.7103 10.293L14.0033 12.586Z" fill="black"/></svg>');
  background-repeat: no-repeat;
  background-position: left 13px center;
  background-size: 15px;
}
.uk-sorting-wrapper .sorting-filters-section .sorting-dd-wrapper label {
  margin-bottom: 0;
  margin-right: 0;
}
.uk-sorting-wrapper .sorting-filters-section .sorting-dd-wrapper select {
  padding-top: 0;
  padding-bottom: 0;
  height: 35px;
  border: none;
  border-radius: 20px;
  padding-left: 0;
  width: 130px;
  color: #2a2a2a;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .ukss-product-grid .prod-listing-wrapper .prod-listing-grid {
    grid-template-columns: repeat(4, 25%);
  }
}
@media (max-width: 992px) {
  .ukss-product-grid .prod-listing-wrapper .prod-listing-grid {
    grid-template-columns: repeat(3, 33.33%);
  }
  .filter-dropdowns-wrapper,
  .filters-area {
    display: none;
  }
}
@media (max-width: 767px) {
  .ukss-product-grid .prod-listing-wrapper .prod-listing-grid {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 565px) {
  .why-buy-section {
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0;
  }
  .why-buy-section .why-buy-wrapper .why-buy-heading {
    font-size: 24px;
  }
  #main_content {
    margin-bottom: 0;
  }
  .why-buy-section .why-buy-wrapper .why-buy-list-wrapper .why-buy-list {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 320px) {
  .ukss-product-grid .prod-listing-wrapper .prod-listing-grid {
    grid-template-columns: 100%;
  }
  .why-buy-section .why-buy-wrapper .why-buy-list-wrapper .why-buy-list {
    grid-template-columns: 100%;
  }
}/*# sourceMappingURL=index.css.map */