:root {
  --color-blue: #0d6efd;
  --color-border: rgb(222, 222, 222);
}

.cart-suggestion-title {
  font-size: 16px;
  font-weight: 700;
  margin: 30px 0 15px;
  text-transform: uppercase;
  text-align: center;
}

.apply-promo-code-area {
  margin-bottom: 10px;
}
.apply-promo-code-area .apply-promo-field {
  display: flex;
  flex-wrap: wrap;
}
.apply-promo-code-area .apply-promo-field .floating-field {
  flex: 1;
  margin-right: 10px;
}
.apply-promo-code-area .apply-promo-field .apply-promo-btn {
  display: block;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: #fff;
  font-size: 12px !important;
  font-weight: 500;
  border-radius: 5px;
  padding: 14px 15px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.apply-promo-code-area .apply-promo-field .apply-promo-btn:disabled {
  border: 1px solid rgb(214, 214, 214);
  background-color: rgb(237, 237, 237);
  color: #666;
  cursor: not-allowed;
}

/* FLOATING LABEL */
.floating-field {
  position: relative;
}
.floating-field .floating-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding-inline: 5px;
  transition: transform 200ms, font-size 200ms;
  pointer-events: none;
  transform-origin: left;
  translate: -0.3em;
  line-height: 16px;
  color: #707070;
}
.floating-field .floating-input {
  padding: 16px 10px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid var(--color-border);
  color: #000;
  width: 100%;
  outline: none;
  font-size: 14px;
}
.floating-field .floating-input::-moz-placeholder {
  opacity: 0 !important;
  color: #000 !important;
}
.floating-field .floating-input::placeholder {
  opacity: 0 !important;
  color: #000 !important;
}
.floating-field .floating-input:not(:-moz-placeholder-shown) {
  padding: 26px 10px 6px;
}
.floating-field .floating-input:focus, .floating-field .floating-input:not(:placeholder-shown) {
  padding: 26px 10px 6px;
}
.floating-field .floating-input:focus {
  border-color: var(--color-blue);
  box-shadow: 0px 0px 5px #9ec5fe;
}
.floating-field .floating-input:not(:-moz-placeholder-shown) + .floating-label {
  transform: translateY(calc(-50% - 12px));
  font-size: 12px !important;
  color: #737373;
}
.floating-field .floating-input:focus + .floating-label, .floating-field .floating-input:not(:placeholder-shown) + .floating-label {
  transform: translateY(calc(-50% - 12px));
  font-size: 12px !important;
  color: #737373;
}
.floating-field .floating-input:focus + .floating-label {
  color: var(--color-blue);
}

/* /FLOATING LABEL */
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.suggestion-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.0509803922);
  margin-bottom: 15px;
  animation: horizontal-shaking 0.3s linear;
  background-color: #fbf5e3;
  position: relative;
  overflow: hidden;
}
.suggestion-card.ready-to-add {
  background-color: #e4f1e7;
}
.suggestion-card.shake-card {
  animation: horizontal-shaking 0.3s linear infinite;
}
.suggestion-card .ribbon {
  position: absolute;
  top: 46px;
  left: -24px;
  background-color: #e31d2b;
  color: white;
  font-weight: 500;
  font-size: 8px;
  padding: 2px 0;
  line-height: 12px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
}
.suggestion-card .suggestion-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.suggestion-card .suggestion-card__wrapper .sc-image {
  width: 80px;
  height: 80px;
  display: block;
}
.suggestion-card .suggestion-card__wrapper .sc-image img {
  width: 80px;
  height: 80px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  mix-blend-mode: multiply;
}
.suggestion-card .suggestion-card__wrapper .sc-content {
  flex: 1;
  padding-left: 10px;
}
.suggestion-card .suggestion-card__wrapper .sc-content .sc-product-title {
  font-size: 14px;
  font-weight: 400;
  text-transform: unset !important;
  margin-bottom: 10px;
  line-height: 18px;
  display: block;
}
.suggestion-card .suggestion-card__wrapper .sc-content .price-area {
  text-align: right;
}
.suggestion-card .suggestion-card__wrapper .sc-content .price-area .old-price {
  font-size: 12px;
  font-weight: 500;
  color: #a5a5a5;
  text-decoration: line-through;
  margin-right: 5px;
}
.suggestion-card .suggestion-card__wrapper .sc-content .price-area .price {
  font-size: 14px;
  font-weight: 600;
  color: #1e1e1e;
}
.suggestion-card .sc-action-wrapper {
  margin-top: 10px;
  display: flex;
}
.suggestion-card .sc-action-wrapper .sc-select-size-content {
  flex: 1;
  padding: 0 10px 0 0;
  position: relative;
}
.suggestion-card .sc-action-wrapper .sc-select-size-content .label-text {
  position: absolute;
  top: 8px;
  top: 50%;
  left: 6px;
  font-size: 12px;
  font-weight: 500;
  transform: translateY(-50%);
  pointer-events: none;
}
.suggestion-card .sc-action-wrapper .sc-select-size-content select {
  display: block;
  width: 100%;
  padding: 8px 5px;
  border: none;
  outline: none;
  background-color: initial;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #1e1e1e;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  padding-left: 38px;
  padding-right: 20px;
  font-family: var(--font-family);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 1px solid #c9c9c9;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right 5px center;
}
.suggestion-card .sc-action-wrapper .sc-select-size-content.select-error {
  animation: horizontal-shaking 0.3s ease-in-out;
}
.suggestion-card .sc-action-wrapper .sc-select-size-content.select-error .label-text {
  color: #dc3545;
}
.suggestion-card .sc-action-wrapper .sc-select-size-content.select-error select {
  border-color: #dc3545;
}
.suggestion-card .sc-action-wrapper .add-sc-btn {
  color: #fff;
  background-color: var(--uk-red);
  background-color: #1e1e1e;
  border: none;
  padding: 9px 27px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 13px;
}

.sidebar-cart-footer .message-area {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 8px;
  text-align: center;
  margin-bottom: 10px;
}
.sidebar-cart-footer .message-area p {
  font-size: 12px;
  font-weight: 400;
}
.sidebar-cart-footer .apply-promo-code-area {
  display: none;
}
.sidebar-cart-footer .payments-strip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto 0;
  max-width: 400px;
}
.sidebar-cart-footer .payments-strip svg {
  width: 30px;
  margin-right: 2px;
}/*# sourceMappingURL=index.css.map */