body {
  background-color: #f8f9fb;
}
.pageHeading {
  border-bottom: 1px solid #d0d0d0;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  font-variant: normal;
  padding-bottom: 5px;
}
.module_heading {
  padding: 0 10px 10px;
}
.order-card {
  padding: 10px;
  border-radius: 10px;
  &.bg-pink {
    background-color: #ffe3e3;
  }
  &.bg-white {
    background-color: #ffffff;
  }
  &.bg-orange {
    background-color: #ffe7d5;
  }
  & * {
    box-sizing: border-box;
  }
  .order-card__title {
    font-size: 12px;
    font-weight: 600;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .manualorders {
    background-color: transparent;
    padding: 10px 0;
    .linkbutton {
      display: inline-block;
    }
  }
}
div.divHeading {
  width: 100%;
  border-radius: 5px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  img {
    display: inline-block;
    width: auto;
    height: 14px;
    margin-right: 6px;
  }
}
.divParagraph {
  font-size: 14px;
  font-weight: 500;
}
.py-para {
  padding: 10px 0;
}
.order-card-links-container {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  a {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    display: inline;
  }
}
.btn {
  &.btn-primary {
    background: #2368b5;
    color: #ffffff;
    border-color: #2368b5;
    text-shadow: none;
    box-shadow: none;
    &:hover {
      background: #2368b5;
      color: #ffffff;
      border-color: #2368b5;
    }
  }
  &.btn-submit {
    background: #28a745;
    color: #ffffff;
    border-color: #28a745;
    text-shadow: none;
    box-shadow: none;
    &:hover {
      background: #28a745;
      color: #ffffff;
      border-color: #28a745;
    }
  }
}

.labeldiv {
  font-weight: 500;
  margin-top: 6px;
}

.select-ui {
  background: #fff;
  outline: none;
  &:hover {
    background: #fff;
  }
}

.feb11Tabs.sep11Tabs {
  .tabs {
    margin-bottom: 5px;
    border-bottom: 0px;
    li {
      border: none;
      width: auto;
      margin-right: 5px;
      height: 30px;
    }
    a {
      display: inline-block;
      font-size: 12px;
      border-radius: 5px;
      padding: 7px 10px;
      border: 1px solid #d0d0d0;
      background-color: #fff;
    }
    #li_active {
      a {
        background-color: #163f85;
        color: #fff;
        border: 1px solid #163f85;
      }
    }
  }
}

table.order-listing-table {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  .dataTableHeadingRow {
    border-collapse: collapse;
    td {
      background-color: #163f85;
      color: #fff;
      border: 0.5px solid #fff;
      border-collapse: collapse;
      &.dataTableHeadingContent-first,
      &.dataTableHeadingContent {
        font-weight: 500;
        text-align: left;
        padding: 5px;
      }
    }
  }
  .dataTableRow {
    td {
      background-color: #fff;
      border: 1px solid #ebeef4;
      text-align: left;
      font-weight: 500;
      padding: 5px;
    }
  }
  .dataTableRowOver {
    td {
      text-align: left;
      font-weight: 500;
      border: 1px solid #e6f1ff;
      padding: 5px;
      background-color: #e6f1ff;
    }
  }
}

.edit-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"/></g></svg>');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  margin-right: 4px;
  &,
  &:hover {
    color: #1e1e1e;
    font-size: 16px;
    text-decoration: none;
  }
}

.btn-group {
  text-align: left;
  padding: 10px;
  .btn {
    margin-bottom: 4px;
  }
}

.td-info-box-heading {
  background-color: #163f85;
  .info-box-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    .info-box-left {
      font-size: 12px;
      font-weight: 500;
    }
    .info-box-right {
      .info-edit,
      .info-delete {
        display: inline-flex;
        font-size: 18px;
        color: #fff;
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 18px;
        margin-left: 5px;
      }
    }
  }
}

.order-info-box-body {
  background-color: #e6f1ff;
  td {
    background-color: #e6f1ff;
  }
}

.cs-select {
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  padding: 6px;
  outline: none;
}

.table-divider {
  border-top: 1px solid #e6e6e6;
}

.filter-form-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  &,
  & * {
    box-sizing: border-box;
  }
  .filter-form-item-1 {
    width: 12.5%;
    padding: 0 5px 10px;
  }
  .filter-form-item-2 {
    width: 27%;
    padding: 0 5px 10px;
  }
}

.cs-form-group {
  label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
  }
  .cs-form-select,
  .cs-form-input {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    outline: none;
    display: block;
    margin: 0;
    height: 30px;
    font-size: 12px !important;
  }
}
